<div class="cropping-content">
    <form id="form-choose-image">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="chose-img" accept="image/*">
            <label class="custom-file-label" for="image">{{ 'выбрать изображение'|trans|raw }}</label>
        </div>
    </form>

    <div class="my-2">
        <div id="selected_image"></div>
    </div>
</div>
