<div class="search-content">
    <form id="form_search">
        <div class="form-group">
            <input type="search" id="search_input" placeholder="{{ 'Начните вводить текст'|trans|raw }} ..." class="form-control form-control-lg">
        </div>
    </form>

    <div class="my-2">
        <div id="result_search"></div>
    </div>
</div>
