<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% if app.request.attributes.all['_route'] starts with 'admin_' %}
                {% include 'admin/parts/header.html.twig' %}
            {% else %}
                {% include 'fronted/parts/header.html.twig' %}
            {% endif %}
        {% endblock %}
        <div class="content">
            {% include 'common/flash_messages.html.twig' %}
            {% if app.request.attributes.all['_route'] starts with 'admin_' %}
                <div class="row">
                    <div class="col-sm-3">
                        {% include 'admin/parts/panel.html.twig' %}
                    </div>
                    <div class="col-sm-9">{% block body %}{% endblock %}</div>
                </div>
            {% else %}

            {% endif %}
        </div>
        <div class="footer">{% block footer %}{% endblock %}</div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
