<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            {% block header %}
                {% if isRoutPath('admin_') %}

                {% else %}
                    {% include 'fronted/parts/header.html.twig' %}
                {% endif %}
            {% endblock %}</div>
        <div class="content">
            {% include 'common/flash_messages.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        <div class="footer">{% block footer %}{% endblock %}</div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
